@import "tailwindcss";

@theme {
  /* Cấu hình màu sắc */
  --color-primary-light: #60a5fa;
  --color-primary: #00bfab;
  --color-primary-dark: #009689;
  
  --color-secondary: #51b083;
  --color-dark: #1f2937;

  --color-background: #0b4f4a;
  --color-button-orange: #ff6900;
  /* Cấu hình font chữ */
  --font-sans: "Inter", sans-serif;
}
html {
  @apply scroll-smooth
}